<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clever - Education &amp; Courses Template | Courses</title>
    <link rel="icon" href="{% static 'img/core-img/programming.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>


    <header class="header-area">


        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <a class="nav-brand" href="{%  url  'index' %}">
                        <p style="color: black; font-size: 25px;">_577_</p>
                    </a>

                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <div class="classy-menu">

                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <div class="classynav">
                            <ul>
                                <li><a href="{%  url  'index' %}">Home</a></li>
                                <li><a href="{%  url  'courses' %}">Courses</a></li>
                                <li><a href="{%  url  'instructors' %}">Instructors</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                
                                <li><a href="{%  url  'contact' %}">Contact</a></li>
                            </ul>

                        

                            {% if user.is_authenticated %}
                            <div class="register-login-area">
                                <a href="{%  url  'logout' %}" class="btn">Logout</a>
                                <img style="width: 50px; height: 50px; border-radius: 50px;" src="{% static 'img/bg-img/person_1.jpg' %}" alt="">
                            </div>
                            {% else %}
                            <div class="register-login-area">
                                <a href="{%  url  'register' %}" class="btn">Register</a>
                                <a href="{%  url  'login' %}" class="btn active">Login</a>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

`

    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3"
        style="background-image: url({% static 'img/bg-img/bg2.jpg' %});">
        <h3>Art &amp; Design</h3>
    </div>

    <section class="popular-courses-area section-padding-100">
        <div class="container">
            <div class="row">
                {% for course in courses %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{{course.image.url}}" alt="">
                        <div class="course-content">
                            <a href="{% url 'detail' course.id %}"><h4>{{course.title}}</h4></a>
                            <div class="meta d-flex align-items-center">
                                <a href="{%  url  'index' %}">{{course.author}}</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="{%  url  'index' %}">{{course.category.title}}</a>
                            </div>
                            <p>{{course.description}}</p>
                        </div>
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{course.views}}
                                </div>

                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'index' %}" class="free">{{course.price}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

       
        </div>
    </section>



    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>


</body>

</html>